<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>王凯的博客</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'wk_blog.css')}}"/>
    <link rel="shortcut icon" type="image/x-icon" href=""/>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('index') }}">王凯的博客</a>
        </div>
        <nav class="nav">
            <ul>
                {% for info in catalogue %}
                <li><a href="{{ url_for('catalogue',Id = info[0]) }}">{{ info[1] }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <div class="wrap">
        <aside class="isidebar">
            <!--这里是侧栏模块-->
            <div class="side_div">
                这里是侧栏模块
            </div>
            <div class="side_div">
                这里是侧栏模块
            </div>
            <div class="side_div">
                {% for info in comments %}
                <article class="post">
                    <p> <span><a href="{{ url_for('post',Id = info[1]) }}">{{info[2]}}</a></span> <span>{{ moment(info[3]).format('MMMDoH:M') }}</span></p>{{ info[4] }}
                </article>
                {% endfor %}
            </div>
        </aside>
        <div class="icontent">
            <!--这里是文章列表-->
            {% for info in posts %}
            <article class="post">
                <p><span><a href="{{ url_for('post',Id = info[0]) }}">{{info[1]}}</a></span><span>{{ moment(info[2]).format('LLL') }}</span></p>{{ info[3] }}
            </article>
            {% endfor %}
        </div>
    </div>
    <footer class="footer">
         这里是footer
    </footer>
<script type="text/javascript" src="{{ url_for('static',filename = 'jquery-2.2.3.min.js') }}"></script>
{{ moment.include_moment() }}
{{ moment.lang('zh-cn') }}
</body>
</html>